ROS_DOMAIN_ID=42
ROS_LOCALHOST_ONLY=0
RMW_IMPLEMENTATION=rmw_cyclonedds_cpp

DISPLAY=:0
GAZEBO_GUI=true
START_GUI_PANELS=true
START_MISSION_INTENT_GUI=true
START_DEPLOYMENT_VIEW=true

QWEN_HOST_IP=10.42.0.14
QWEN_API_URL=http://10.42.0.14:8081/v1/chat/completions
QWEN_MODEL_DIR=/home/odin
QWEN_PORT=8081
QWEN_CTX_SIZE=1024
QWEN_GPU_LAYERS=0
