ROS_DOMAIN_ID=42
ROS_LOCALHOST_ONLY=0
RMW_IMPLEMENTATION=rmw_cyclonedds_cpp

# Laptop/Desktop can use localhost when qwen service is in the same compose project.
QWEN_API_URL=http://127.0.0.1:8081/v1/chat/completions
QWEN_MODEL_DIR=/home/odin
QWEN_PORT=8081
QWEN_CTX_SIZE=1024
QWEN_GPU_LAYERS=0

DISPLAY=:0
GAZEBO_GUI=true
START_DEPLOYMENT_VIEW=true
